.NavigationItems {
    display: flex;
    justify-content: space-around;
    width: 50%;

}

.NavigationDiv{
    align-items: center;
    min-height: 8vh;
    display: flex;
    justify-content: space-around;
}
